# Importer for the .csv files from the covid-19 datahub
This is where I am experimenting with how to call and download the data from datahub's Covid-19 database

The location of the data site is https://datahub.io/core/covid-19#data
The files are in both JSON and CSV file format

US data is located at /core/covid-19/r/us_confirmed.cvs (or .json)
US data is located at /core/covid-19/r/us_deaths.cvs (or .json)

In [2]:
# and this is how they suggest me to get the data
import datapackage
import pandas as pd

data_url = 'https://datahub.io/core/covid-19/datapackage.json'

# to load Data Package into storage
package = datapackage.Package(data_url) 

# to load only tabular data
resources = package.resources
for resource in resources:
    if resource.tabular:
        data = pd.read_csv(resource.descriptor['path']) # Loads the data into pandas as a dataframe... Could I get rid of the redundant data here?
        print ("Downloading", resource.descriptor['path'].split('/')[-1]) # Print out what is happening so I know
        data.to_csv("./data/"+resource.descriptor['path'].split('/')[-1]) # Saves the file as it's file name... some are _csv.csv but hey I got the data to download
print('Finished Downloading') # Always good to know when things have finished

Downloading countries-aggregated_csv.csv
Downloading key-countries-pivoted_csv.csv
Downloading time-series-19-covid-combined_csv.csv
Downloading reference_csv.csv
Downloading us_confirmed_csv.csv
Downloading us_deaths_csv.csv
Downloading worldwide-aggregate_csv.csv
Downloading us_simplified_csv.csv
Downloading countries-aggregated.csv
Downloading key-countries-pivoted.csv
Downloading time-series-19-covid-combined.csv
Downloading reference.csv
Downloading us_confirmed.csv
Downloading us_deaths.csv
Downloading worldwide-aggregate.csv
Downloading us_simplified.csv
Finished Downloading

In [5]:
pd.read_csv('./data/us_deaths.csv', index_col="Unnamed: 0")

          Admin2        Date  Case Country/Region Province/State
0        Autauga  2020-01-22     0             US        Alabama
1        Autauga  2020-01-23     0             US        Alabama
2        Autauga  2020-01-24     0             US        Alabama
3        Autauga  2020-01-25     0             US        Alabama
4        Autauga  2020-01-26     0             US        Alabama
...          ...         ...   ...            ...            ...
2449681   Weston  2022-01-19    16             US        Wyoming
2449682   Weston  2022-01-20    16             US        Wyoming
2449683   Weston  2022-01-21    16             US        Wyoming
2449684   Weston  2022-01-22    16             US        Wyoming
2449685   Weston  2022-01-23    16             US        Wyoming

[2449686 rows x 5 columns]

In [6]:
pd.read_csv('./data/us_confirmed.csv', index_col="Unnamed: 0")

          Admin2        Date  Case Country/Region Province/State
0        Autauga  2020-01-22     0             US        Alabama
1        Autauga  2020-01-23     0             US        Alabama
2        Autauga  2020-01-24     0             US        Alabama
3        Autauga  2020-01-25     0             US        Alabama
4        Autauga  2020-01-26     0             US        Alabama
...          ...         ...   ...            ...            ...
2449681   Weston  2022-01-19  1332             US        Wyoming
2449682   Weston  2022-01-20  1341             US        Wyoming
2449683   Weston  2022-01-21  1349             US        Wyoming
2449684   Weston  2022-01-22  1349             US        Wyoming
2449685   Weston  2022-01-23  1349             US        Wyoming

[2449686 rows x 5 columns]

In [7]:
pd.read_csv('./data/us_simplified.csv', index_col="Unnamed: 0")

               Date   Admin2 Province/State  Confirmed  Deaths Country/Region
0        2020-01-22  Autauga        Alabama          0       0             US
1        2020-01-23  Autauga        Alabama          0       0             US
2        2020-01-24  Autauga        Alabama          0       0             US
3        2020-01-25  Autauga        Alabama          0       0             US
4        2020-01-26  Autauga        Alabama          0       0             US
...             ...      ...            ...        ...     ...            ...
2449681  2022-01-19   Weston        Wyoming       1332      16             US
2449682  2022-01-20   Weston        Wyoming       1341      16             US
2449683  2022-01-21   Weston        Wyoming       1349      16             US
2449684  2022-01-22   Weston        Wyoming       1349      16             US
2449685  2022-01-23   Weston        Wyoming       1349      16             US

[2449686 rows x 6 columns]